body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background: linear-gradient(180.3deg, rgb(221, 221, 221) 5.5%, rgb(110, 136, 161) 90.2%);
}
a{
    text-decoration: none;
    color: black;
}
li{
    list-style: none;
    text-decoration: none;
    color: black;
}

.header{
    background: rgba(128, 128, 128, 0.377);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.main-header{
    width: 1300px;
    margin: auto;
    padding: auto;
}
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-block{
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-block{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.left-block ul{
    display: flex;
    gap: 20px;
    font-size: 17px;
    text-transform: uppercase;
    color: black;
    font-weight: bolder;
}
.header-btn{
    padding: 10px 15px;
    background: purple;
    color: white;
    font-size: 17px;
    font-weight: bolder;
    text-transform: uppercase;
}


/* login page */

.login,
.signup{
    height: 90vh;
    display: grid;
    justify-content: center;
    align-items: center;
}
.login-box,
.signup-box{
    width: 400px;
    padding: 20px 30px;
    background: rgba(128, 128, 128, 0.377);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.signup-box{
    height: 550px;
    padding: 10px 30px;
}
.signup-box form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.login-box form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-title{
    text-align: center;
}
.box{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.box label{
    font-size: 18px;
    font-weight: bold;
}
.box input{
    border: none;
    padding: 10px 5px;
    border-radius: 5px;
    outline: none;
    background: transparent;
    font-size: 15px;
    border: 1px solid grey;
}
.login-btn,
.signup-btn{
    width: 80px;
    margin: auto;
    padding: 8px;
    font-size: 16px;
    border: none;
    outline: none;
    background: purple;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}
.login-box form a,
.signup-box form a{
    color: purple;
    font-weight: bolder;
}
form .not{
    text-align: center;
}

/* home section */

.home{
    height: 91vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 1300px;
    margin: auto;
}
.home-data{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}
.home-cards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 4px solid rgb(64, 26, 99);
    padding: 30px 20px;
    border-radius: 20px;
    background: linear-gradient(69.9deg, rgb(76, 79, 106) 3.2%, rgb(118, 124, 163) 97.6%);
    color: rgb(199, 199, 199);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.card-btn{
    padding: 8px 25px;
    border-radius: 5px;
    font-size: 18px;
    background-color: rgb(64, 26, 99);
    color: rgb(197, 197, 197);
}


/* service and client */

.forms-matter{
    display: flex;
    justify-content: space-around;
}
.client, 
.service{
    height: 91vh;
    margin-top: 40px;
}
.add-header h1{
    border-bottom: 2px solid black;
}
.client-input,
.service-input,
.provider-model{
    border: 4px solid rgb(64, 26, 99);
    width: 350px;
    padding: 40px 20px;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.client-input label{
    padding-left: 10px;
    color: rgb(64, 26, 99);
    font-size: 17px;
    font-weight: bold;
}
.provider-model label{
    padding-left: 10px;
    color: rgb(64, 26, 99);
    font-size: 17px;
    font-weight: bold;
}
.service-input label{
    padding-left: 10px;
    color: rgb(64, 26, 99);
    font-size: 17px;
    font-weight: bold;
}
.client-input input{
    padding: 8px 15px;
    background: none;
    border: none;
    outline: none;
    border: 2px solid rgb(64, 26, 99);
    border-radius: 15px;
    background-color: rgba(64, 26, 99, 0.068);
    font-size: 15px;
}
select {
    outline: 0;
    background: rgba(64, 26, 99, 0.068);
    border: 2px solid rgb(64, 26, 99);
    border-radius: 15px;
    width: 100%;
    height: 100%;
    padding: 10px;
    color: black;
    cursor: pointer;
}

.service-input input{
    padding: 8px 15px;
    background: none;
    border: none;
    outline: none;
    border: 2px solid rgb(64, 26, 99);
    border-radius: 15px;
    background-color: rgba(64, 26, 99, 0.068);
    font-size: 15px;
}
.provider-box input{
    padding: 8px 15px;
    background: none;
    border: none;
    outline: none;
    border: 2px solid rgb(64, 26, 99);
    border-radius: 15px;
    background-color: rgba(64, 26, 99, 0.068);
    font-size: 15px;
}
.client-div,
.provider-box{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.service-btn{
    width: 90px;
    margin-top: 10px;
    cursor: pointer;
}
.client-btn{
    display: flex;
    gap: 20px;
}
.client-btn button{
    padding: 8px 15px;
    background: none;
    border: none;
    outline: none;
    border: 2px solid rgb(64, 26, 99);
    border-radius: 15px;
    background-color: rgba(64, 26, 99, 0.068);
    font-size: 15px;
}

/* add service provider */

.ser-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    /* align-items: center; */
}
.add-service{
    height: 130vh;
    display: flex;
    justify-content: center;
}

.provider{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    flex-direction: column;
}
.provider-data{
    margin-top: 50px;
}
table{
    width: 600px;
}
table th{
    height: 50px;
    background-color: rgba(64, 26, 99, 0.219);
}
table td{
    height: 30px;
    width: 100px;
    padding: 10px;
    color: rgb(64, 26, 99);
    font-weight: bold;
    font-size: 16px;
}
.delete-btn,
.update-btn{
    border: 2px solid rgb(64, 26, 99);
    padding: 3px 8px;
}

.up-btn{
    width: 80px;
    padding: 8px 15px;
    background: none;
    border: none;
    outline: none;
    border: 2px solid rgb(64, 26, 99);
    border-radius: 15px;
    background-color: rgba(64, 26, 99, 0.068);
    font-size: 15px;
}

.home-cards img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    text-align: center;
    margin: auto;
}

