{% extends "base.html" %}
{% block body %}

<div class="add-service">
    <div class="ser-content">
        <div class="ser-data">
            <form action="" method="post">
                {% csrf_token %}
                <div class="provider-model">
                    <h1>Add Service Provider</h1>
                    <div class="provider-box">
                        <label for="">Client</label>
                        <select name="client" id="">
                            {% for i in clients %}
                            <option value="{{i.id}}">{{i.comp_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="provider-box">
                        <label for="">Company name</label>
                        <input name="company" type="text">
                    </div>
                    <div class="provider-box">
                        <label for="">Handle By</label>
                        <input name="handle" type="text">
                    </div>
                    <div class="provider-box">
                        <label for="">Email</label>
                        <input name="email" type="email">
                    </div>
                    <div class="provider-box">
                        <label for="">Phone</label>
                        <input name="number" type="number">
                    </div>
                    <div class="provider-box">
                        <label for="">Address</label>
                        <input name="address" type="text">
                    </div>
                    <div class="provider-box">
                        <label for="">Account</label>
                        <input name="account" type="number">
                    </div>
                    <div class="provider-box">
                        <label for="">IFSC</label>
                        <input name="ifsc" type="text">
                    </div>
                    <div class="client-btn">
                        <button type="submit" class="service-btn">Submit</button>
                        <button type="reset" class="service-btn">Reset</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="provider">
            <h1>Service Provider Quick Data</h1>
            <div class="provider-data">
                <table border="1px">
                    <tr>
                        <th>Company Name</th>
                        <th>Handle By</th>
                        <th>Phone No.</th>
                        <th>Client</th>
                        <th>Action</th>
                    </tr>
                    {% for i in providerObj %}
                    <tr>
                        <td>{{i.comp_name}}</td>
                        <td>{{i.handle}}</td>
                        <td>{{i.phone}}</td>
                        <td>{{i.client}}</td>
                        <td>
                            <div class="client-btn">
                                <a href="/delete_service/{{i.id}}" class="delete-btn">Delete</a>
                                <a href="/update_service/{{i.id}}" class="update-btn">Update</a>
                            </div>

                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock body %}