{% extends "base.html" %}
{% block body %}
{% load static %}

<div class="home">

    <div class="home-content">
        <div class="home-data">
            <div class="home-cards">
                <img src="{% static 'img/invoice.png' %}" alt="">
                <h2>Add Invoice</h1>

                <div class="home-btn">
                    <a href="{% url 'client' %}" class="card-btn">Button</a>
                </div>
            </div>
            <div class="home-cards">
                <img src="{% static 'img/agreement.png' %}" alt="">
                <h2>Add Service Provider</h2>

                <div class="home-btn">
                    <a href="{% url 'addService' %}" class="card-btn">Button</a>
                </div>
            </div>
            <div class="home-cards">
                <img src="{% static 'img/contract.png' %}" alt="">
                <h2>View Records</h2>

                <div class="home-btn">
                    <a href="{% url 'viewClient' %}" class="card-btn">Button</a>
                </div>
            </div>
            <div class="home-cards">
                <img src="{% static 'img/envelope.png' %}" alt="">
                <h2>Download Invoice</h2>

                <div class="home-btn">
                    <a href="{% url 'client' %}" class="card-btn">Button</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}