{% extends "base.html" %}
{% block body %}

<div class="service">
    <div class="ser-content1">
        <div class="ser-data">
            <form action="" method="post" class="forms-matter">
                {% csrf_token %}
                <div class="service-content">
                    <a href="{% url 'client' %}" class="add-header">
                        <h1>Add Client Details</h1>
                    </a>
                </div>
                <div class="service-content">
                    <a href="{% url 'service' %}" class="add-header">
                        <h1>Add Service Details</h1>
                    </a>
                    <div class="service-input">
                        <div class="provider-box">
                            <label for="">Client</label>
                            <div class="select-box">
                                <select name="client" id="select">
                                    {% for i in clients %}
                                    <option value="{{i.id}}" class="option">{{i.comp_name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="provider-box">
                            <label for="">Description</label>
                            <input required name="description" type="text">
                        </div>
                        <div class="provider-box">
                            <label for="">Quantity</label>
                            <input required name="quantity" type="number">
                        </div>
                        <div class="provider-box">
                            <label for="">Amount</label>
                            <input required name="amount" type="number">
                        </div>
                        <input type="submit" value="Submit" class="service-btn">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock body %}