{% extends "base.html" %}
{% block body %}

<div class="provider">
    <h1>Service Provider Quick Data</h1>
    <div class="provider-data">
        <table border="1px">
            <tr>
                <th>Company Name</th>
                <th>GST Number</th>
                <th>Country</th>
                <th>State</th>
                <th>Address</th>
                <th>Action</th>
            </tr>
            {% for i in viewClient %}
            <tr>
                <td>{{i.comp_name}}</td>
                <td>{{i.gst}}</td>
                <td>{{i.country}}</td>
                <td>{{i.state}}</td>
                <td>{{i.address}}</td>
                <td>
                    <div class="client-btn">
                        <a href="/show_client/{{i.id}}" class="delete-btn">View</a>
                        <a href="/delete_client/{{i.id}}" class="delete-btn">Delete</a>
                        <a href="/update_client/{{i.id}}" class="update-btn">Update</a>
                    </div>

                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock body %}